@import "tailwindcss";
button{
padding: 10px 20 px;
margin: 20px;
background-color: red;

}
h1{
  background-color: rgb(119,119,119);
  width: fit-content;
  font-size: 100px;
  padding: 10px;
  border-radius: 5px;
}
body{
height: 100%;
width: 100%;
}